body,h1,h2,h3,h4,h5,h6 {
    font-family: "Lato", sans-serif;}

body, html, a{
    height: 100%;
    color: #777;
    line-height: 1.5;
    background-color: rgb(247, 244, 244);
    }


#myVideo{
    min-width: 108%;
    padding-top: 38px; 
}

.container1{
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    padding-top: 5px;
    padding-left: 500px;
    padding-right: 20px;
    background-color: black; 
    color: white;
} 

#about{
    padding-top: 65px;
    padding-bottom: 55px;
    text-justify: auto;
    letter-spacing: 1px;
}
#welcome, #textaboutme {
    text-align: justify;
    text-justify: inter-word;
}

.bgimg-2 {
    background-image: url('./albums/background.jpg');
    min-height: 50%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.w3-wide {letter-spacing: 10px;}
.w3-hover-opacity {
    cursor: pointer;
}

.bgimg-3 {
    background-image: url('./albums/andrej-lisakov-fGZ2x8wFxC0-unsplash.jpg');
    min-height: 50%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
